<!DOCTYPE html>
<html>
<head>
    <title>Diseases</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }
        
        .disease {
            display: inline-block;
            padding: 5px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }
        
        .disease:hover {
            background-color: #f2f2f2;
        }

        /* Adjusted style for the search box */
        #searchInput {
            padding: 5px; /* Reduced padding */
            margin-bottom: 10px; /* Adjusted margin */
            width: 50%; /* Smaller width */
            font-size: 14px; /* Adjusted font size */
        }

        /* Added style for the message */
        .message {
            background-color: #4CAF50;
            color: white;
            font-size: 16px;
            padding: 12px;
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 9999;
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }
    </style>
</head>
<body>
    <!-- Moved search input field above the text -->
    <input type="text" id="searchInput" onkeyup="filterDiseases()" placeholder="Search for symptoms...">
    <p>Click on a disease to add symptoms to the list:</p>
    <!-- Disease list -->
    <div id="diseaseContainer">
        <div class="disease" onclick="addToSymptoms('itching')">Itching</div>
        <div class="disease" onclick="addToSymptoms('skin_rash')">Skin Rash</div>
        <div class="disease" onclick="addToSymptoms('nodal_skin_eruptions')">Nodal Skin Eruptions</div>
        <div class="disease" onclick="addToSymptoms('continuous_sneezing')">Continuous Sneezing</div>
        <div class="disease" onclick="addToSymptoms('shivering')">Shivering</div>
        <div class="disease" onclick="addToSymptoms('chills')">Chills</div>
        <div class="disease" onclick="addToSymptoms('joint_pain')">Joint Pain</div>
        <div class="disease" onclick="addToSymptoms('stomach_pain')">Stomach Pain</div>
        <div class="disease" onclick="addToSymptoms('acidity')">Acidity</div>
        <div class="disease" onclick="addToSymptoms('ulcers_on_tongue')">Ulcers on Tongue</div>
        <div class="disease" onclick="addToSymptoms('muscle_wasting')">Muscle Wasting</div>
        <div class="disease" onclick="addToSymptoms('vomiting')">Vomiting</div>
        <div class="disease" onclick="addToSymptoms('burning_micturition')">Burning Micturition</div>
        <div class="disease" onclick="addToSymptoms('spotting_ urination')">Spotting Urination</div>
        <div class="disease" onclick="addToSymptoms('fatigue')">Fatigue</div>
        <div class="disease" onclick="addToSymptoms('weight_gain')">Weight Gain</div>
        <div class="disease" onclick="addToSymptoms('anxiety')">Anxiety</div>
        <div class="disease" onclick="addToSymptoms('cold_hands_and_feets')">Cold Hands and Feet</div>
        <div class="disease" onclick="addToSymptoms('mood_swings')">Mood Swings</div>
        <div class="disease" onclick="addToSymptoms('weight_loss')">Weight Loss</div>
        <div class="disease" onclick="addToSymptoms('restlessness')">Restlessness</div>
        <div class="disease" onclick="addToSymptoms('lethargy')">Lethargy</div>
        <div class="disease" onclick="addToSymptoms('patches_in_throat')">Patches in Throat</div>
        <div class="disease" onclick="addToSymptoms('irregular_sugar_level')">Irregular Sugar Level</div>
        <div class="disease" onclick="addToSymptoms('cough')">Cough</div>
        <div class="disease" onclick="addToSymptoms('high_fever')">High Fever</div>
        <div class="disease" onclick="addToSymptoms('sunken_eyes')">Sunken Eyes</div>
        <div class="disease" onclick="addToSymptoms('breathlessness')">Breathlessness</div>
        <div class="disease" onclick="addToSymptoms('sweating')">Sweating</div>
        <div class="disease" onclick="addToSymptoms('dehydration')">Dehydration</div>
        <div class="disease" onclick="addToSymptoms('indigestion')">Indigestion</div>
        <div class="disease" onclick="addToSymptoms('headache')">Headache</div>
        <div class="disease" onclick="addToSymptoms('yellowish_skin')">Yellowish Skin</div>
        <div class="disease" onclick="addToSymptoms('dark_urine')">Dark Urine</div>
        <div class="disease" onclick="addToSymptoms('nausea')">Nausea</div>
        <div class="disease" onclick="addToSymptoms('loss_of_appetite')">Loss of Appetite</div>
        <div class="disease" onclick="addToSymptoms('pain_behind_the_eyes')">Pain behind the Eyes</div>
        <div class="disease" onclick="addToSymptoms('back_pain')">Back Pain</div>
        <div class="disease" onclick="addToSymptoms('constipation')">Constipation</div>
        <div class="disease" onclick="addToSymptoms('abdominal_pain')">Abdominal Pain</div>
        <div class="disease" onclick="addToSymptoms('diarrhoea')">Diarrhoea</div>
        <div class="disease" onclick="addToSymptoms('mild_fever')">Mild Fever</div>
        <div class="disease" onclick="addToSymptoms('yellow_urine')">Yellow Urine</div>
        <div class="disease" onclick="addToSymptoms('yellowing_of_eyes')">Yellowing of Eyes</div>
        <div class="disease" onclick="addToSymptoms('acute_liver_failure')">Acute Liver Failure</div>
        <div class="disease" onclick="addToSymptoms('fluid_overload')">Fluid Overload</div>
        <div class="disease" onclick="addToSymptoms('swelling_of_stomach')">Swelling of Stomach</div>
        <div class="disease" onclick="addToSymptoms('swelled_lymph_nodes')">Swelled Lymph Nodes</div>
        <div class="disease" onclick="addToSymptoms('malaise')">Malaise</div>
        <div class="disease" onclick="addToSymptoms('blurred_and_distorted_vision')">Blurred and Distorted Vision</div>
        <div class="disease" onclick="addToSymptoms('phlegm')">Phlegm</div>
        <div class="disease" onclick="addToSymptoms('throat_irritation')">Throat Irritation</div>
        <div class="disease" onclick="addToSymptoms('redness_of_eyes')">Redness of Eyes</div>
        <div class="disease" onclick="addToSymptoms('sinus_pressure')">Sinus Pressure</div>
        <div class="disease" onclick="addToSymptoms('runny_nose')">Runny Nose</div>
        <div class="disease" onclick="addToSymptoms('congestion')">Congestion</div>
        <div class="disease" onclick="addToSymptoms('chest_pain')">Chest Pain</div>
        <div class="disease" onclick="addToSymptoms('weakness_in_limbs')">Weakness in Limbs</div>
        <div class="disease" onclick="addToSymptoms('fast_heart_rate')">Fast Heart Rate</div>
        <div class="disease" onclick="addToSymptoms('pain_during_bowel_movements')">Pain during Bowel Movements</div>
        <div class="disease" onclick="addToSymptoms('pain_in_anal_region')">Pain in Anal Region</div>
        <div class="disease" onclick="addToSymptoms('bloody_stool')">Bloody Stool</div>
        <div class="disease" onclick="addToSymptoms('irritation_in_anus')">Irritation in Anus</div>
        <div class="disease" onclick="addToSymptoms('neck_pain')">Neck Pain</div>
        <div class="disease" onclick="addToSymptoms('dizziness')">Dizziness</div>
        <div class="disease" onclick="addToSymptoms('cramps')">Cramps</div>
        <div class="disease" onclick="addToSymptoms('bruising')">Bruising</div>
        <div class="disease" onclick="addToSymptoms('obesity')">Obesity</div>
        <div class="disease" onclick="addToSymptoms('swollen_legs')">Swollen Legs</div>
        <div class="disease" onclick="addToSymptoms('swollen_blood_vessels')">Swollen Blood Vessels</div>
        <div class="disease" onclick="addToSymptoms('puffy_face_and_eyes')">Puffy Face and Eyes</div>
        <div class="disease" onclick="addToSymptoms('enlarged_thyroid')">Enlarged Thyroid</div>
        <div class="disease" onclick="addToSymptoms('brittle_nails')">Brittle Nails</div>
        <div class="disease" onclick="addToSymptoms('swollen_extremeties')">Swollen Extremities</div>
        <div class="disease" onclick="addToSymptoms('excessive_hunger')">Excessive Hunger</div>
        <div class="disease" onclick="addToSymptoms('extra_marital_contacts')">Extra Marital Contacts</div>
        <div class="disease" onclick="addToSymptoms('drying_and_tingling_lips')">Drying and Tingling Lips</div>
        <div class="disease" onclick="addToSymptoms('slurred_speech')">Slurred Speech</div>
        <div class="disease" onclick="addToSymptoms('knee_pain')">Knee Pain</div>
        <div class="disease" onclick="addToSymptoms('hip_joint_pain')">Hip Joint Pain</div>
        <div class="disease" onclick="addToSymptoms('muscle_weakness')">Muscle Weakness</div>
        <div class="disease" onclick="addToSymptoms('stiff_neck')">Stiff Neck</div>
        <div class="disease" onclick="addToSymptoms('swelling_joints')">Swelling Joints</div>
        <div class="disease" onclick="addToSymptoms('movement_stiffness')">Movement Stiffness</div>
        <div class="disease" onclick="addToSymptoms('spinning_movements')">Spinning Movements</div>
        <div class="disease" onclick="addToSymptoms('loss_of_balance')">Loss of Balance</div>
        <div class="disease" onclick="addToSymptoms('unsteadiness')">Unsteadiness</div>
        <div class="disease" onclick="addToSymptoms('weakness_of_one_body_side')">Weakness of One Body Side</div>
        <div class="disease" onclick="addToSymptoms('loss_of_smell')">Loss of Smell</div>
        <div class="disease" onclick="addToSymptoms('bladder_discomfort')">Bladder Discomfort</div>
        <div class="disease" onclick="addToSymptoms('foul_smell_of urine')">Foul Smell of Urine</div>
        <div class="disease" onclick="addToSymptoms('continuous_feel_of_urine')">Continuous Feel of Urine</div>
        <div class="disease" onclick="addToSymptoms('passage_of_gases')">Passage of Gases</div>
        <div class="disease" onclick="addToSymptoms('internal_itching')">Internal Itching</div>
        <div class="disease" onclick="addToSymptoms('toxic_look_(typhos)')">Toxic Look (Typhos)</div>
        <div class="disease" onclick="addToSymptoms('depression')">Depression</div>
        <div class="disease" onclick="addToSymptoms('irritability')">Irritability</div>
        <div class="disease" onclick="addToSymptoms('muscle_pain')">Muscle Pain</div>
        <div class="disease" onclick="addToSymptoms('altered_sensorium')">Altered Sensorium</div>
        <div class="disease" onclick="addToSymptoms('red_spots_over_body')">Red Spots over Body</div>
        <div class="disease" onclick="addToSymptoms('belly_pain')">Belly Pain</div>
        <div class="disease" onclick="addToSymptoms('abnormal_menstruation')">Abnormal Menstruation</div>
        <div class="disease" onclick="addToSymptoms('dischromic _patches')">Dischromic Patches</div>
        <div class="disease" onclick="addToSymptoms('watering_from_eyes')">Watering from Eyes</div>
        <div class="disease" onclick="addToSymptoms('increased_appetite')">Increased Appetite</div>
        <div class="disease" onclick="addToSymptoms('polyuria')">Polyuria</div>
        <div class="disease" onclick="addToSymptoms('family_history')">Family History</div>
        <div class="disease" onclick="addToSymptoms('mucoid_sputum')">Mucoid Sputum</div>
        <div class="disease" onclick="addToSymptoms('rusty_sputum')">Rusty Sputum</div>
        <div class="disease" onclick="addToSymptoms('lack_of_concentration')">Lack of Concentration</div>
        <div class="disease" onclick="addToSymptoms('visual_disturbances')">Visual Disturbances</div>
        <div class="disease" onclick="addToSymptoms('receiving_blood_transfusion')">Receiving Blood Transfusion</div>
        <div class="disease" onclick="addToSymptoms('receiving_unsterile_injections')">Receiving Unsterile Injections</div>
        <div class="disease" onclick="addToSymptoms('coma')">Coma</div>
        <div class="disease" onclick="addToSymptoms('stomach_bleeding')">Stomach Bleeding</div>
        <div class="disease" onclick="addToSymptoms('distention_of_abdomen')">Distention of Abdomen</div>
        <div class="disease" onclick="addToSymptoms('history_of_alcohol_consumption')">History of Alcohol Consumption</div>
        <div class="disease" onclick="addToSymptoms('fluid_overload.1')">Fluid Overload.1</div>
        <div class="disease" onclick="addToSymptoms('blood_in_sputum')">Blood in Sputum</div>
        <div class="disease" onclick="addToSymptoms('prominent_veins_on_calf')">Prominent Veins on Calf</div>
        <div class="disease" onclick="addToSymptoms('palpitations')">Palpitations</div>
        <div class="disease" onclick="addToSymptoms('painful_walking')">Painful Walking</div>
        <div class="disease" onclick="addToSymptoms('pus_filled_pimples')">Pus-filled Pimples</div>
        <div class="disease" onclick="addToSymptoms('blackheads')">Blackheads</div>
        <div class="disease" onclick="addToSymptoms('scurring')">Scurring</div>
        <div class="disease" onclick="addToSymptoms('skin_peeling')">Skin Peeling</div>
        <div class="disease" onclick="addToSymptoms('silver_like_dusting')">Silver Like Dusting</div>
        <div class="disease" onclick="addToSymptoms('small_dents_in_nails')">Small Dents In Nails</div>
        <div class="disease" onclick="addToSymptoms('inflammatory_nails')">Inflammatory Nails</div>
        <div class="disease" onclick="addToSymptoms('blister')">Blister</div>
        <div class="disease" onclick="addToSymptoms('red_sore_around_nose')">Red Sore Around Nose</div>
        <div class="disease" onclick="addToSymptoms('Bloating')">Bloating</div>
        <div class="disease" onclick="addToSymptoms('difficulty_eating')">Difficulty Eating</div>
        <div class="disease" onclick="addToSymptoms('urgent_urination')">Urgent Urination</div>
    </div>

    
    <!-- Array of selected symptoms -->
    <div id="symptomsList">
        <h3>Selected Symptoms:</h3>
        <ul id="symptoms"></ul>
        <button onclick="copySymptoms()">Copy Symptoms to Clipboard</button>
    </div>

    <!-- Message for copied disease -->
    <div id="message" class="message"></div>

    <script>
        // Array to store symptoms
        let symptoms = [];

        function addToSymptoms(symptom) {
            symptoms.push(symptom);
            updateSymptomsList();
        }

        function updateSymptomsList() {
            var symptomsList = document.getElementById('symptoms');
            symptomsList.innerHTML = ''; // Clear previous list
            symptoms.forEach(function(symptom) {
                var li = document.createElement('li');
                li.textContent = symptom;
                symptomsList.appendChild(li);
            });
        }

        function copySymptoms() {
            var input = document.createElement("input");
            input.setAttribute("type", "text");
            input.setAttribute("value", symptoms.join(', ')); // Join symptoms array into a string
            document.body.appendChild(input);
            input.select();
            document.execCommand("copy");
            document.body.removeChild(input);

            var message = document.getElementById('message');
            message.innerHTML = "Symptoms copied to clipboard: " + symptoms.join(', ');
            message.style.opacity = 1;

            setTimeout(function() {
                message.style.opacity = 0;
            }, 2000);
        }

        function filterDiseases() {
            var input = document.getElementById('searchInput');
            var filter = input.value.toUpperCase();
            var diseases = document.getElementById("diseaseContainer");
            var disease = diseases.getElementsByClassName('disease');
            for (var i = 0; i < disease.length; i++) {
                var txtValue = disease[i].textContent || disease[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    disease[i].style.display = "";
                } else {
                    disease[i].style.display = "none";
                }
            }
        }
    </script>
</body>
</html>